# Prétraitement du dataset [Voisins](http://www.lexique.org/)

Ce notebook expose le prétraitement effectué sur le dataset [Voisins](http://www.lexique.org/) pour une utilisation dans le cadre du projet [SmartRead](https://github.com/mipi-and-co/smart-read).

## Importation des dépendances

- [pandas](https://pandas.pydata.org/) - pour le chargement et l'affichage des données
- [matplotlib](https://matplotlib.org/) - pour la représentation des données sous forme graphique

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Chargement du dataset en mémoire

Le dataset à prétraiter est consistué de 130000 entrées.

Chaque ligne consiste en 5 colonnes :
1) Le mot
2) Le nombre de voisins orthographiques de ce mot
3) La liste des voisins
4) La fréquence de ces voisins (par millions)
5) La fréquence cumulée de tous les voisins

In [2]:
# Chargement du dataset
data = pd.read_table(filepath_or_buffer="../../data/raw/voisins.tsv")

# Affichage de 10 lignes au hasard
data.sample(n=10)

,Graph,NbVoisOrth,VoisOrth,FreqVoisOrth,FreqCum
42285,emboîtèrent,0,NaN,NaN,NaN
35696,décentralisateur,0,NaN,NaN,NaN
111540,stérilisation,0,NaN,NaN,NaN
70498,lâcheté,0,NaN,NaN,NaN
39149,dépens,2,"défens, dépend","0.03, 37.13",37.16
39456,dépositaires,0,NaN,NaN,NaN
74778,mollet,6,"collet, follet, rollet, millet, mollit, molles","2.23, 0.68, 0.06, 1.16, 0.19, 7.68",12.00
48078,expérimentait,2,"expérimentant, expérimentais","0.35, 0.10",0.45
97815,regrettablement,0,NaN,NaN,NaN
5565,androstérone,0,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128918 entries, 0 to 128917
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Graph         128918 non-null  object
 1   NbVoisOrth    128918 non-null  int64
 2   VoisOrth      66711 non-null   object
 3   FreqVoisOrth  66711 non-null   object
 4   FreqCum       66711 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.9+ MB

## Récupération des données utiles

Dans le cadre du projet, toutes les données de ce dataset nous sont utiles !